# Core
mysql-connector-python>=9.4.0
numpy>=2.3.2
pandas>=2.3.2

# Streamlit
streamlit>=1.49.1
streamlit-authenticator>=0.4.2  # for authentication

# dbt
dbt-core>=1.7.9
dbt-mysql>=1.7.0

# Optional utilities
python-dotenv>=1.1.1
loguru>=0.7.3
